<!DOCTYPE html>


<html >

<head>
    <title>
        Việc làm Long An
    </title>
    <link href="~/Content/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Assets/css/overwrite.css" rel="stylesheet" />
 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700&amp;subset=vietnamese" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="top-funtions">
            <div class="btn-group pull-right">
                <a class="btn btn-default" href="/Home/Login">Đăng nhập</a>
                <a class="btn btn-default" href="/Home/Register">Đăng ký</a>
               
            </div>
        </div>
        <div class="banner">
            <img src="~/Content/Portals/_default/Skins/vieclamNew/Images/Banner.png" />
            @*<h1><span>Trung Tâm Dịch Vụ Việc Làm Long An</span></h1>
            
            <small><span> vieclamlongan.vn</span></small>*@
           

        </div>
      
        @RenderBody()
        <div class="footer">

            <div class="footer-content">
                <div class="copyright">
                    @*<img src="~/Content//Portals/0/images/logobl.png" class="img-responsive" alt="logo" />*@
                    <span>
                        <p style="text-align: left;">
                            <strong> Trung Tâm Dịch Vụ Việc Làm Long An</strong>
                            <br />
                            Địa chỉ: 78 QL1A, khu phố 6, Bến Lức, Long An<br />
                            Điện thoại:  Fax:  - Email: <a href="mailto:vidu@gmail.com"></a>
                        </p>
                    </span>
                </div>
                @*<div class="site-links">

                    <select id="cb_links" class="form-control">
                        <option>--- Liên kết website ---</option>

                        <option value="www.thitruonglaodong.gov.vn">Thị trường lao động</option>

                        <option value="www.hrdkorea.or.kr/business/biz_03_03_view.jsp?seq=127357&page=1&key=0&keyword=&mm=418">Tài liệu hướng dẫn học Tiếng Hàn Quốc </option>

                        <option value="www.molisa.gov.vn">Bộ lao động TB&XH</option>

                        <option value="www.vieclamhue.vn">Việc Làm Huế</option>

                        <option value="www.dubaonhanluchcmc.gov.vn">Trung tâm Dự báo TPHCM</option>

                        <option value="soldtbxh.cantho.gov.vn">Sở Lao động - Thương binh Và Xã hội Thành phố Cần Thơ</option>

                        <option value="www.cantho.gov.vn">Cổng thông tin điện tử TP.Cần Thơ</option>

                        <option value="www.cbamekong.org">Hiệp hội Doanh nghiệp TP.Cần Thơ</option>

                        <option value="www.ctu.edu.vn">Trường Đại học Cần Thơ</option>

                        <option value="www.baocantho.com.vn">Báo Cần Thơ</option>

                        <option value="www.laodong.com.vn">Báo lao động</option>

                        <option value="www.nld.com.vn">Báo người lao động</option>

                        <option value="www.Ctuet.edu.vn">Trường Đại học Công nghệ - Kỹ thuật CầnThơ</option>

                    </select> Designed by <a href="http://www.dps.com.vn" target="_blank">DPS Co., Ltd.</a>
                </div>
                <div class="site-stats">
                    <span>Lượt truy cập:</span> <span id="soluot" style="font-weight: bold;">36982523</span>
                    <br />
                    <span>Đang online:</span> <span id="dangonline" style="font-weight: bold;">20</span>
                    <br />
                    <a href="#">Hộp chat</a>
                </div>*@
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <script src="~/Content/Assets/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="~/Content/Assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#cb_links').change(function() {
            var val = $(this).val();
            if (val) window.open('http://' + val);
            return false;
        })
        $(function() {
            $('.carousel-inner').each(function() {
                var caro = $(this);
                if (caro.find('.item:first-child').find('.col-xs-2').length == 6 &&
                    caro.find('.item:last-child').find('.col-xs-2').length < 6) {
                    var last = 6 - caro.find('.item:last-child').find('.col-xs-2').length;
                    var els = caro.find('.item:first-child').find('.col-xs-2');
                    for (var i = 0; i < last; i++) {
                        caro.find('.item:last-child .row').append($(els[i]).clone());
                    }
                }
            })
        })
    </script>
</body>

</html>
