    <!DOCTYPE html>
<html lang="vi-VN">

<head id="Head">
    <title>
        Việc làm Long An
    </title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="text/javascript" http-equiv="Content-Script-Type" />
    <meta content="text/css" http-equiv="Content-Style-Type" />
    <meta id="MetaCopyright" name="COPYRIGHT" content="Copyright 2021 by DotNetNuke Corporation" />
    <meta id="MetaAuthor" name="AUTHOR" content="Việc làm Hồ Chí Minh" />
    <meta name="RESOURCE-TYPE" content="DOCUMENT" />
    <meta name="DISTRIBUTION" content="GLOBAL" />
    <meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="REVISIT-AFTER" content="1 DAYS" />
    <meta name="RATING" content="GENERAL" />
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
    <style id="StylePlaceholder" type="text/css"></style>
    <link href="~/Content/Portals/_default/default.css?cdv=37" type="text/css" rel="stylesheet" />
    <link href="~/Content/Portals/_default/Containers/HCM/container.css?cdv=37" type="text/css" rel="stylesheet" />
    <link href="~/Content/Portals/_default/Containers/DarkKnightMobile/container.css?cdv=37" type="text/css" rel="stylesheet" />
    <link href="~/Content/Portals/0/portal.css?cdv=37" type="text/css" rel="stylesheet" />
    <link href="~/Content/Portals/_default/Skins/vieclamNew//DNNStandard/StandardMenu.css?cdv=37" type="text/css" rel="stylesheet" />
    <script src="~/Content/Resources/Shared/Scripts/jquery/jquery.min.js?cdv=37" type="text/javascript"></script>
    <script src="~/Content/Resources/Shared/Scripts/jquery/jquery-ui.min.js?cdv=37" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/d7760681f1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    @*<link href="/Content/Portals/_default/Telerik.Web.UI.WebResource.axd" type="text/css" rel="stylesheet">*@
    <link href="" rel="canonical" />
    <link type="text/css" rel="stylesheet" href="~/Content/DesktopModules/SpeedyTouchFlexi2/flexslider.css" />
    <style type="text/css"></style>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <link href="~/Content/Assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Assets/css/overwrite.css" rel="stylesheet" />
</head>

<body id="Body" class="bodynew">




    <script src="~/Content/js/dnncore.js?cdv=37" type="text/javascript"></script>
    <script src="~/Content/js/dnn.modalpopup.js?cdv=37" type="text/javascript"></script>
    <script src="~/Content/Resources/Shared/Scripts/jquery/jquery.hoverIntent.min.js?cdv=37" type="text/javascript"></script>
    <script src="~/Content/Portals/_default/Skins/vieclamNew/jquery.cycle.min.js?cdv=37" type="text/javascript"></script>
    <script src="~/Content/Portals/_default/Skins/vieclamNew//DNNStandard/StandardMenu.js?cdv=37" type="text/javascript"></script>
    <script src="~/Content/DesktopModules/SpeedyTouchFlexi2/jquery.flexslider-min.js" type="text/javascript"></script>
    <div id="DNN6" class="Home">
        <div id="main-page">


            @RenderBody()

        </div>


    </div>

    <div title="Click To Top" style="position:fixed; bottom: 36px; right: 16px; cursor: pointer; z-index: 100003;" id="topcontrol">
        <a onclick="topFunction()" id="myBtn" title="Go to top">
            <img src="~/Content/Portals/_default/Skins/vieclamNew/Images/totop.png" style="width: 21px; height: 21px " />
        </a>
    </div>

</body>




</html>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 50px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>
<script>
    function toggleMenu() {
        var x = $("#main-menu ");
        if (x.hasClass("show ")) {
            x.removeClass("show ");
        } else {
            x.addClass("show ");
        }
    }
    $(document).ready(function () {

        //$(function () {
        // scroll body to 0px on click
        $('.scrollup').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
        //});

    });
</script>


<script type="text/javascript" src="~/Content/Resources/Shared/scripts/initWidgets.js "></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Y34V8GBCB3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Y34V8GBCB3');
</script>
