@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="SpeedyTouchFlexiContainer829" class="flex-container">
    <div id="SpeedyTouchFlexi829" class="flexslider">
        <ul class="slides">
            <li data-thumb="/Portals/0/Settings829/sanonline2021.gif"><img src="Content/Portals/0/Settings829/sanonline2021.gif" /></li>
            <li data-thumb="/Portals/0/Settings829/banner.gif"><img src="Content/Portals/0/Settings829/banner.gif" /></li>
        </ul>
    </div>
</div>
