@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int lenght = 8;

}

        <div id="dnnMenu">
            <ul class="topLevel">

                <li class="item first selected" id="home">

                    <a class="menunew" href="/">
                        <div>
                        </div>
                    </a>

                </li>


                <li class="item dropdown">
                    <a class="menunew" href="/About">
                        <div>
                            Giới thiệu
                        </div>
                    </a>

                    <ul class="dropdown-content">
                        <li>
                            <a href="/About">
                                Giới thiệu chung
                            </a>

                        </li>
                        <li>
                            <a href="/About/OrgaStructure">
                                Sơ đồ tổ chức
                            </a>

                        </li>
                        <li>
                            <a href="/About/Address">
                                Địa chỉ
                            </a>

                        </li>
                    </ul>


                </li>

                <li class="item dropdown">
                    <a class="menunew" href="/BanTin">
                        <div>
                            Tin tức
                        </div>
                    </a>
                </li>

                <li class="item dropdown">

                    <a class="menunew" href="/TuyenDung">
                        <div>Tuyển dụng</div>
                    </a>

                </li>

                <li class="item dropdown">

                    <a class="menunew" href="/TimViec">
                        <div>Tìm việc</div>
                    </a>

                </li>


                <li class="item dropdown">

                    <a class="menunew" href="/DaoTao">
                        <div>Đào tạo</div>
                    </a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="/DaoTao?newsCatId=2">
                                Thông tin chính sách
                            </a>

                        </li>
                        <li>
                            <a href="/DaoTao?newsCatId=3">
                                Đào tạo sơ cấp
                            </a>

                        </li>
                        <li>
                            <a href="/DaoTao?newsCatId=4">
                                Đào tạo thường xuyên
                            </a>

                        </li>
                        <li>
                            <a href="/DaoTao?newsCatId=5">
                                Đào tạo liên kết
                            </a>

                        </li>
                    </ul>

                </li>
                <li class="item dropdown">

                    <a class="menunew" href="/BHTN">
                        <div>BHTN</div>
                    </a>
                    
                </li>

                <li class="item dropdown">

                    <a class="menunew" href="/XKLD?newsCatId=6">
                        <div>Việc làm ngoài nước</div>
                    </a>
                    <ul class="dropdown-content">
                        <li>
                            <a href="/XKLD?newsCatId=6">
                                Thông tin chính sách
                            </a>

                        </li>
                        <li>
                            <a href="/XKLD?newsCatId=7">
                                Thị trường Nhật Bản
                            </a>

                        </li>
                        <li>
                            <a href="/XKLD?newsCatId=8">
                                Thị trường Hàn Quốc
                            </a>

                        </li>
                        <li>
                            <a href="/XKLD?newsCatId=9">
                                Thị trường khác
                            </a>

                        </li>
                    </ul>
                </li>

                <li class="item dropdown">

                    <a class="menunew" href="/VanBan">
                        <div>Văn bản</div>
                    </a>

                </li>

                <li class="item dropdown">

                    <a class="menunew" href="/HoiDap">
                        <div>Hỏi đáp</div>
                    </a>

                </li>

                <li class="item last ">

                    <a class="menunew" href="/SanVL">
                        <div>Sàn việc làm</div>
                    </a>

                </li>


            </ul>
        </div>
        @*@{
            for (int i = 0; i < lenght; i++)
            {
                if (i == 0)
                {
                    <li class="item first selected">

                        <a href="">
                            <div></div>
                        </a>

                    </li>
                }
                else if (i == lenght)
                {
                    <li class="item">

                        <a href="">
                            <div>CoVid-19</div>
                        </a>

                    </li>
                }
                else
                {
                    <li class="item">

                        <a href="">
                            <div>CoVid-19</div>
                        </a>

                    </li>
                }
            }
        }*@



<script>
    const currenturl = location.href;
    const menuitem = document.querySelectorAll("li.item");
    const menuClasname = document.querySelectorAll("a.menunew")
    const menulength = menuitem.length

    const sliptElement = currenturl.split("/")
    const sliptElement1 = sliptElement[3].split("?")
    //alert(sliptElement1[0]);
    const news = "";
    for (let i = 0; i < menulength; i++) {
        
        if (sliptElement1[0] == "SanVL") {
            menuitem[10].className = " selected last"
        }
        if (menuClasname[i].href === currenturl) {
            if (menuClasname[i].href == "/") {
                menuitem[i].className = " selected dropdown"
            }
            else if (menuClasname[i].href != "/") {
                if (sliptElement1[0] == "SanVL") {
                    menuitem[i].className = "selected last"
                }
                else {
                    menuitem[i].className = "selected"
                }
                
                var elem = document.getElementById("home");
                elem.className = elem.className.replace("selected", "")

            }


        }
        else if (sliptElement1[0] == "About") {
            menuitem[1].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "BanTin") {
            menuitem[2].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "TuyenDung") {
            menuitem[3].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "TimViec") {
            menuitem[4].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "DaoTao") {
            menuitem[5].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "BHTN") {
            menuitem[6].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "XKLD") {
            menuitem[7].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "VanBan") {
            menuitem[8].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "HoiDap") {
            menuitem[9].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "SanVL") {
            menuitem[10].className = "selected last"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
       
    }
    
</script>
