@{
    Layout = "~/Views/Shared/_Frontend.cshtml";
    ViewData["Title"] = "About";
    var banner = ViewBag.Banner;
    var about = ViewBag.About;
}
@*<link href="~/Content/Portals/_default/Skins/vieclamNew/css/bootstrap.scss.css" rel="stylesheet" />*@
<link href="~/Content/Assets/css/bundle.css" rel="stylesheet" />
<div class="body-view view-news">
    <div class="page_container">

        <div class="view-news-container">
            <div class="main-contentPane left">
                <div id="dnn_ContentPane" class="contentPane">
                    <div class="DnnModule DnnModule-DNN_HTML DnnModule-845">
                        <a name="845"></a>
                        <div class="dnnPEMContNotitle">
                            <div id="dnn_ctr845_ContentPane" class="dnnPEMContNotitleBody">
                                <!-- Start_Module_845 -->
                                <div id="dnn_ctr845_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                    <div id="dnn_ctr845_HtmlModule_lblContent" class="Normal">
                                        <div>
                                            <div class="NewsDetail_content" style="text-align: justify;">
                                                <div class="SubHead">
                                                    <h2 class="news-title" style="text-align: center;margin-top:20px;">

                                                        GIỚI THIỆU CHUNG

                                                    </h2>

                                                </div>


                                                @Html.Raw(about.NoiDung)

                                                @*<div id="Nhiemvu">
                                                    <div class="about_content">
                                                        <p>
                                                            Trung tâm dịch vụ việc làm Long An là đơn vị sự nghiệp thuộc Sở Lao động – Thương binh và Xã hội Long An
                                                            <br />
                                                            - Địa chỉ: Số 78, QL1A, Kp6, TT Bến Lức, Bến Lức, Long An
                                                            <br />
                                                            - Điện thoại:
                                                            <br />
                                                            - Website: <a href="http://vieclamlongan.vn">http://vieclamlongan.vn</a>
                                                            <br />
                                                            - Email: <a class="link" href="mailto:vieclam@vieclamlongan.vn">vieclam@vieclamlongan.vn</a>
                                                        </p>

                                                    </div>
                                                    <div class="about_branch ">
                                                        <p class="about-title">
                                                            Trung tâm Dịch vụ việc làm Long An có 4 chi nhánh trực thuộc:
                                                        </p>
                                                        <p>
                                                            <span class="highlight-about"> 1. Chi nhánh Dịch vụ việc làm khu vực Tân An:</span> Số 98, phường 2, Tp Tân An, Long An
                                                        </p>
                                                        <p>
                                                            <span class="highlight-about"> 2. Chi nhánh Dịch vụ việc làm khu vực Đức Hòa:</span> Số 180A, đường 3/2, TT Hậu Nghĩa, Đức Hòa, Long An
                                                        </p>
                                                        <p>
                                                            <span class="highlight-about"> 3. Chi nhánh Dịch vụ việc làm khu vực Cần Giuộc:</span> Số 96, Tỉnh lộ 835A, Kp Hòa Thuận 1, thị trấn Cần Giuộc, Cần Giuộc, Long An
                                                        </p>
                                                        <p>
                                                            <span class="highlight-about"> 4. Chi nhánh Dịch vụ việc làm khu vực Kiến Tường:</span> Quốc lộ 62, phường 3, thị xã Kiến Tường, Long An
                                                        </p>
                                                    </div>

                                                    <div class="about_mission ">
                                                        <p class="title_mission">
                                                            * Nhiệm vụ chính:
                                                        </p>
                                                        <p>
                                                            1. Hoạt động tư vấn.
                                                        </p>
                                                        <p>
                                                            2. Giới thiệu việc làm cho người lao động.
                                                        </p>
                                                        <p>
                                                            3. Cung ứng và tuyển lao động theo yêu cầu của người sử dụng lao động
                                                        </p>
                                                        <p>
                                                            4. Thu thập và cung cấp thông tin thị trường lao động.
                                                        </p>
                                                        <p>
                                                            5. Phân tích và dự báo thị trường lao động.
                                                        </p>
                                                        <p>
                                                            6. Thực hiện chính sách bảo hiểm thất nghiệp theo quy định của Luật Việc làm.
                                                        </p>
                                                        <p>
                                                            7. Đào tạo kỹ năng tham gia phỏng vấn, tìm kiếm việc làm và các kỹ năng làm việc khác; giáo dục nghề nghiệp theo quy định của pháp luật.
                                                        </p>
                                                        <p>
                                                            8. Thực hiện các chương trình, dự án về việc làm.
                                                        </p>
                                                    </div>
                                                </div>*@



                                            </div>
                                        </div>

                                    </div>

                                </div><!-- End_Module_845 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-contentPane right">
                <div class="nav-contentPane-wrapper">
                    <div id="dnn_NewsPage_leftPane">
                        <div class="DnnModule DnnModule-VietNews DnnModule-703">
                            <a name="703"></a>
                            <div id="dnn_ctr703_ContentPane">
                                <!-- Start_Module_703 -->
                                <div id="dnn_ctr703_ModuleContent" class="DNNModuleContent ModVietNewsC">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfPageCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfPageCate" value="100">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfCate" value="2">
                                    <div>
                                        @{
                                            foreach (var item in banner)
                                            {
                                                var hinhanh = item.HinhAnh.ToString().Split('[', ']', '"');
                                                var hinh = hinhanh[2];
                                                <div>
                                                    <a href="@item.Link" target="@item.Target">
                                                        <img class="qc-banner" src="~/images/@hinh" />
                                                    </a>
                                                </div>
                                            }

                                        }

                                    </div>


                                </div><!-- End_Module_703 -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="clear">
            </div>
        </div>

       
    </div>
</div>


<script>
    //function openPage(pageName, elmnt) {
    //    var i, tabcontent, tablinks;
    //    tabcontent = document.getElementsByClassName("tabcontent");
    //    for (i = 0; i < tabcontent.length; i++) {
    //        tabcontent[i].style.display = "none";
    //    }
        
    //    document.getElementById(pageName).style.display = "block";
        
    //}

    //// Get the element with id="defaultOpen" and click on it
    //document.getElementById("defaultOpen").click();

    //var header = document.getElementById("nav-tabs");
    //var btns = header.getElementsByClassName("btn");
    //for (var i = 0; i < btns.length; i++) {
    //    btns[i].addEventListener("click", function () {
    //        var current = document.getElementsByClassName("active");
    //        current[0].className = current[0].className.replace(" active", "");
    //        this.className += " active";
    //    });
    //}
    //var coll = document.getElementsByClassName("collapsible");
    //var i;
    //for (i = 0; i < coll.length; i++) {
    //    coll[i].addEventListener("click", function () {
    //        this.classList.toggle("active");
    //        var content = this.nextElementSibling;
    //        if (content.style.display === "block") {
    //            content.style.display = "none";
    //        } else {
    //            content.style.display = "block";
    //        }
    //    });
    //}

    //function showhide(id) {
    //    if (document.getElementById) {
    //        var divid = document.getElementById(id);
    //        var divs = document.getElementsByClassName("gllpMap");
    //        for (var i = 0; i < divs.length; i++) {
    //            divs[i].style.display = "none";
    //        }
    //        document.getElementById(id).style.display = "block";
    //    }
    //    return false;
    //}

    //$(".showroom-item h2.title a").click(function () {
    //    $(".gllpMap").hide();
    //    var activeTab = $(this).attr("rel");
    //    $("#" + activeTab).fadeIn();
    //    if ($(this).attr("rel") == "map1") {
    //        $('.product-tab .tab-content').addClass('current');
    //    }
    //    if ($(this).attr("rel") == "map2") {
    //        $('.product-tab .tab-content').addClass('current');
    //    }
    //    //if ($(this).attr("rel") == "tab-1") {
    //    //    $('.product-tab .tab-content').addClass('current');
    //    //}
    //    $(".showroom-item h2.title a").removeClass("current");
    //    $(this).addClass("current");


    //});

</script>
