@{
    Layout = "~/Views/Shared/_Frontend.cshtml";
    ViewData["Title"] = "About";

    var banner = ViewBag.Banner;
    var about = ViewBag.About;
}
@*<link href="~/Content/Portals/_default/Skins/vieclamNew/css/bootstrap.scss.css" rel="stylesheet" />*@
<link href="~/Content/Assets/css/bundle.css" rel="stylesheet" />
<div class="body-view view-news">
    <div class="page_container">
        <div class="view-news-container">
            <div class="main-contentPane left">
                <div id="dnn_ContentPane" class="contentPane">
                    <div class="DnnModule DnnModule-DNN_HTML DnnModule-845">
                        <a name="845"></a>
                        <div class="dnnPEMContNotitle">
                            <div id="dnn_ctr845_ContentPane" class="dnnPEMContNotitleBody">
                                <!-- Start_Module_845 -->
                                <div id="dnn_ctr845_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                    <div id="dnn_ctr845_HtmlModule_lblContent" class="Normal">
                                        <div>
                                            <div class="NewsDetail_content" style="text-align: justify;">
                                                <div class="SubHead">
                                                    <h2 class="news-title" style="text-align: center;margin-top:20px;">

                                                        SƠ ĐỒ TỔ CHỨC

                                                    </h2>

                                                </div>

                                                <div class="about_structure " id="Sodo">
                                                    @Html.Raw(about.NoiDung)
                                                    @*<p class="title_diagram">
            SƠ ĐỒ TỔ CHỨC
        </p>*@
                                                    @*<div class="tree">
            <ul>

                <li>
                    <div class="tooltip text1">
                        <a> Giám Đốc</a>
                        <span class="tooltiptext1">
                            <strong>GIÁM ĐỐC: TRẦN VĂN TIẾNG</strong>
                            <br />

                            <i class="fal fa-phone-rotary"> 02723.871.436</i>
                        </span>
                    </div>

                    <ul>
                        <li>
                            <div class="tooltip text1">
                                <a>Phó Giám Đốc</a>
                                <span class="tooltiptext1">
                                    <strong>PHÓ GIÁM ĐỐC: TRẦN QUỐC BẢO</strong>
                                    <br />

                                    <i class="fal fa-phone-rotary"> 02723. 631.566</i>
                                </span>
                            </div>

                            <ul>
                                <li>
                                    <ul>
                                        <li>
                                            <a>
                                                Các Phòng Ban
                                            </a>
                                            <ul>
                                                <li class="tooltip">
                                                    <a> Hành chính – Tổng hợp</a>
                                                    <span class="tooltiptext">
                                                        <strong>Phòng Hành chính – Tổng hợp</strong>
                                                        <br />
                                                        <strong>Trưởng phòng: </strong>Nguyễn Thị Thanh Hằng
                                                        <br />
                                                        <strong>Phó trưởng phòng: </strong>Nguyễn Thị Ngọc Phượng
                                                        <br />
                                                        <i class="fal fa-phone-rotary"> 02723.631.556</i>
                                                    </span>
                                                </li>
                                                <li class="tooltip">
                                                    <a>
                                                        Đào tạo – Giới thiệu việc làm
                                                    </a>
                                                    <span class="tooltiptext">
                                                        <strong>Phòng Đào tạo – Giới thiệu việc làm</strong>
                                                        <br />
                                                        <strong>Trưởng phòng: </strong>Phan Thanh Liêm
                                                        <br />

                                                        <i class="fal fa-phone-rotary">02723.871.711 – 0842.871.711</i>
                                                    </span>
                                                </li>
                                                <li class="tooltip">
                                                    <a>
                                                        Bảo hiểm thất nghiệp
                                                    </a>
                                                    <span class="tooltiptext">
                                                        <strong>Phòng Bảo hiểm thất nghiệp</strong>
                                                        <br />
                                                        <strong>Trưởng phòng: </strong>Đỗ Thị Kim Trung
                                                        <br />

                                                        <i class="fal fa-phone-rotary">02723.633.566</i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>
                                                Các Chi Nhánh
                                            </a>
                                            <ul>
                                                <li class="tooltip">

                                                    <a>
                                                        Chi nhánh Tân An
                                                    </a>

                                                    <span class="tooltiptext">
                                                        <strong>
                                                            Chi nhánh Dịch vụ việc làm
                                                            khu vực Tân An
                                                        </strong>
                                                        <br />
                                                        <strong>Phó trưởng chi nhánh: </strong>Ao Thị Thảo Hiền
                                                        <br />
                                                        <strong>Phó trưởng chi nhánh: </strong>Đoàn Thị Kim Hoan
                                                        <br />
                                                        <i class="fal fa-phone-rotary"> 02723.526.232</i>
                                                    </span>

                                                </li>
                                                <li class="tooltip">
                                                    <a>
                                                        Chi nhánh Đức Hòa

                                                    </a>
                                                    <span class="tooltiptext">
                                                        <strong>
                                                            Chi nhánh Dịch vụ việc làm
                                                            khu vực Đức Hòa
                                                        </strong>
                                                        <br />
                                                        <strong>Phó trưởng chi nhánh: </strong>Trần Văn Luôn
                                                        <br />
                                                        <strong>Phó trưởng chi nhánh: </strong>Nguyễn Hoàng Anh
                                                        <br />
                                                        <i class="fal fa-phone-rotary"> 02723.814.980</i>
                                                    </span>
                                                </li>
                                                <li class="tooltip">
                                                    <a>
                                                        Chi nhánh Cần Giuộc


                                                    </a>
                                                    <span class="tooltiptext">
                                                        <strong>
                                                            Chi nhánh Dịch vụ việc làm
                                                            khu vực Cần Giuộc
                                                        </strong>
                                                        <br />
                                                        <strong>Phó trưởng chi nhánh: </strong>Võ Minh Dũng
                                                        <br />

                                                        <i class="fal fa-phone-rotary"> 02723.738.737</i>
                                                    </span>
                                                </li>
                                                <li class="tooltip">
                                                    <a>
                                                        Chi nhánh Kiến Tường
                                                    </a>
                                                    <span class="tooltiptext">

                                                        <strong>
                                                            Chi nhánh Dịch vụ việc làm
                                                            khu vực Kiến Tường
                                                        </strong>
                                                        <br />
                                                        <strong>Phó trưởng chi nhánh: </strong>Võ Minh Mẫn
                                                        <br />

                                                        <i class="fal fa-phone-rotary"> 02723.952.368</i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>*@

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div><!-- End_Module_845 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-contentPane right hideof">
                <div class="nav-contentPane-wrapper">
                    <div id="dnn_NewsPage_leftPane">
                        <div class="DnnModule DnnModule-VietNews DnnModule-703">
                            <a name="703"></a>
                            <div id="dnn_ctr703_ContentPane">
                                <!-- Start_Module_703 -->
                                <div id="dnn_ctr703_ModuleContent" class="DNNModuleContent ModVietNewsC">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfPageCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfPageCate" value="100">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfCate" value="2">
                                    <div>
                                        @{
                                            foreach (var item in banner)
                                            {
                                                var hinhanh = item.HinhAnh.ToString().Split('[', ']', '"');
                                                var hinh = hinhanh[2];
                                                <div>
                                                    <a href="@item.Link" target="@item.Target">
                                                        <img class="qc-banner" src="~/images/@hinh" />
                                                    </a>
                                                </div>
                                            }

                                        }

                                    </div>


                                </div><!-- End_Module_703 -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="clear">
        </div>
    </div>
</div>


<script>
    //function openPage(pageName, elmnt) {
    //    var i, tabcontent, tablinks;
    //    tabcontent = document.getElementsByClassName("tabcontent");
    //    for (i = 0; i < tabcontent.length; i++) {
    //        tabcontent[i].style.display = "none";
    //    }

    //    document.getElementById(pageName).style.display = "block";

    //}

    //// Get the element with id="defaultOpen" and click on it
    //document.getElementById("defaultOpen").click();

    //var header = document.getElementById("nav-tabs");
    //var btns = header.getElementsByClassName("btn");
    //for (var i = 0; i < btns.length; i++) {
    //    btns[i].addEventListener("click", function () {
    //        var current = document.getElementsByClassName("active");
    //        current[0].className = current[0].className.replace(" active", "");
    //        this.className += " active";
    //    });
    //}
    //var coll = document.getElementsByClassName("collapsible");
    //var i;
    //for (i = 0; i < coll.length; i++) {
    //    coll[i].addEventListener("click", function () {
    //        this.classList.toggle("active");
    //        var content = this.nextElementSibling;
    //        if (content.style.display === "block") {
    //            content.style.display = "none";
    //        } else {
    //            content.style.display = "block";
    //        }
    //    });
    //}

    //function showhide(id) {
    //    if (document.getElementById) {
    //        var divid = document.getElementById(id);
    //        var divs = document.getElementsByClassName("gllpMap");
    //        for (var i = 0; i < divs.length; i++) {
    //            divs[i].style.display = "none";
    //        }
    //        document.getElementById(id).style.display = "block";
    //    }
    //    return false;
    //}

    //$(".showroom-item h2.title a").click(function () {
    //    $(".gllpMap").hide();
    //    var activeTab = $(this).attr("rel");
    //    $("#" + activeTab).fadeIn();
    //    if ($(this).attr("rel") == "map1") {
    //        $('.product-tab .tab-content').addClass('current');
    //    }
    //    if ($(this).attr("rel") == "map2") {
    //        $('.product-tab .tab-content').addClass('current');
    //    }
    //    //if ($(this).attr("rel") == "tab-1") {
    //    //    $('.product-tab .tab-content').addClass('current');
    //    //}
    //    $(".showroom-item h2.title a").removeClass("current");
    //    $(this).addClass("current");


    //});

</script>
