@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var listBanner = ViewBag.NewBanner;
}
<div id="dnn_ctr764_ModuleContent " class="DNNModuleContent ModDNNHTMLC ">
    <div id="dnn_ctr764_HtmlModule_lblContent " class="Normal ">
        <div class="divcontact ">
            <span>Li&ecirc;n hệ để tham gia s&agrave;n Giao dịch việc l&agrave;m</span>
        </div>
        <div class="divcontact ">
            <div class="icon_contact phone "> Ph&ograve;ng Giới thiệu việc l&agrave;m: (028) 3510 6121</div>
            <div class="icon_contact yahoo "><strong>Hotline: </strong>033 916 3968</div>
            <div class="icon_contact skype "><strong>Email: </strong>sanvieclambenluclongan@gmail.com<br /> </div>
        </div>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/dvvlhcm;width=133&amp;layout=button_count&amp;action=like&amp;size=small&amp;show_faces=true&amp;share=true&amp;height=46&amp;appId=242100345836732
                                                                            " style="border: medium none; overflow: hidden; " scrolling="no" allowtransparency="true" width="133 " height="35 " frameborder="0"></iframe><br />
        <ul>
            @for (int i = 0; i < listBanner.Count; i++)
            {
                if (listBanner[i].ChuyenMucId == 10)
                {

                    <li>
                        <a>
                            <img alt="" src="@listBanner[i].HinhAnh" />
                        </a>
                    </li>


                }
            }

        </ul>

    </div>

</div>
