@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="dnn_ctr830_ModuleContent " class="DNNModuleContent ModHomeViectimnguoiC ">

    <script type="text/javascript " src='Content/DesktopModules/Enterprise/HomeControls/js/owl.carousel.min.js'></script>
    <link type="text/css " rel="Stylesheet " href='Content/DesktopModules/Enterprise/HomeControls/css/owl.carousel.css' />
    <link type="text/css " rel="Stylesheet " href='Content/DesktopModules/Enterprise/HomeControls/css/owl.theme.css' />
    <input type="hidden" name="dnn$ctr830$MainHome$ctl00$hdfJobBoardID " id="dnn_ctr830_MainHome_ctl00_hdfJobBoardID " value="93 " />
    <input type="hidden" name="dnn$ctr830$MainHome$ctl00$hdfResume " id="dnn_ctr830_MainHome_ctl00_hdfResume " value="-1 " />
    <div class="Invisible ">
        <div class="job-list-box ">
            <div class="job-list-title ">
                <h2 class="module-title ">
                    <span class="Head ">Tuyển dụng nóng</span>
                </h2>
            </div>
            <div class="job-list-content ">
                <div class="owl-carousel owl-theme ">

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript ">
        $(document).ready(function(){
            $(".owl-carousel ").owlCarousel({
              autoPlay: true,
              navigation : false,
              pagination : false,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true
            });
        });
    </script>
</div>
