@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var listBanner = ViewBag.NewBanner;
}
<div id="dnn_ctr835_ModuleContent " class="DNNModuleContent ModDNNHTMLC ">
    <div id="dnn_ctr835_HtmlModule_lblContent " class="Normal ">
        @for (int i = 0; i < listBanner.Count; i++)
        {
            if (listBanner[i].ChuyenMucId == 9)
            {
                if (listBanner[i].Id == 7)
                {
                    <div class="module-container module-container-box ">
                        <a href="@listBanner[i].Link" target="_blank "><img alt="@listBanner[i].TieuDe" src="@listBanner[i].HinhAnh" /></a>
                    </div>
                }

            }

        }

    </div>

</div>
